{% extends "layout.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}

      {% endif %}
    {% endwith %}


 <div class="container">   
  <div class="main-block">
    <div class="left-part">
        
        <h1>Login to ToDo App</h1>

            
        <div class="btn-group">
           <a class="btn-item" href="/register">Do not have account</a>
           <a class="btn-item" onclick="window.location.href='{{ url_for('loging', my_var='regg' ) }}'">Login Using github</a>
        </div>
       
      

  
        
        
    </div>

    <form class="reg" action="" method="POST">
        <div class="title">
          <i class="fas fa-pencil-alt"></i>
          <h2>Login</h2>
        </div>
        <div class="info">

          <input class="inp" type="text" name="username" placeholder="Email">
          <input class="inp" type="password" name="password" placeholder="Password">

        </div>

        <button class="butt" class="btn btn-outline-info" type="submit">Submit</button>
    </form>
</div>
</div>
{% endblock %}






