{% extends "layout.html"%}
{% block content %}
 
 <div class="container">    
<div class="main-block">
   
      <div class="left-part">
       
        <h1>Register to ToDo App</h1>
        <div class="btn-group">
           <a class="btn-item" onclick="window.location.href='{{ url_for('loging', my_var='regg' ) }}'">Login Using github</a>
          <a class="btn-item" href="/login">Already have ToDo account</a>
        </div>
      </div>
      
      <form class="reg" action="" method="POST">
        <div class="title">
          
          <h2>Register here</h2>
        </div>
        <div class="info">
          <input class="inp" type="text" name="username" placeholder="Full name" required>
          <input class="inp" type="text" name="email" placeholder="Email" required>
          <input class="inp" type="password" name="password" placeholder="Password" required>
          <input class="inp" type="password" name="confirm" placeholder="Confirm Password" required>

        </div>

        <button class="butt" type="submit">Submit</button>
      </form>
    
</div>
</div>
{% endblock %}

