{% extends "layout.html" %}
{% block content %}


<div class="container-c">

<section class="search-sec">

  <div class="row">
{% for task in tasks %}


    <div class="col-sm-2">

		<div class="card" style="width: 18rem;">
		  {% if task.label=='work' %}
   		 <img class="card-img-top" src="{{ url_for('static', filename='work.jpeg') }}" alt="Card image cap">
    	{% elif task.label=='personal' %}
    	<img class="card-img-top" src="{{ url_for('static', filename='personal.png') }}" alt="Card image cap">
    	{% elif task.label=='shopping' %}
    	<img class="card-img-top" src="{{ url_for('static', filename='shopping.jpeg') }}" alt="Card image cap">
    	{% elif task.label=='other' %}
    	<img class="card-img-top" src="{{ url_for('static', filename='other.jpeg') }}" alt="Card image cap">
    	{% endif %}

		  <div class="card-body">
		    <h5 style="text-transform: uppercase;" class="card-title">{{ task.title }}</h5>
		    <ul class="list-group list-group-flush">
			    <li class="list-group-item">{{ task.adddate }}</li>
			    <li class="list-group-item">{{ task.duedate }}</li>
			    <li class="list-group-item">{{ task.label }}</li>
			     <li class="list-group-item">
			    	<div class="badge badge-danger ml-2">{{ task.priority }}</div>
				</li>

			 </ul>

		    <a style="margin-top: 10px" href="#" class="btn btn-primary">Edit</a>
		    <a style="margin-top: 10px" href="#" class="btn btn-danger">Remove</a>
		  </div>

 </div>
</div>





{% endfor %}
</div>

</section>
</div>
{% endblock content %}
