{% extends "layout.html" %}
{% block content %}

<div class="content-section">
  <div class="row">
{% for task in tasks %}


    <div class="col-sm">

		<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="{{ url_for('static', filename='work.jpeg') }}" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
			    <p>{{ task.title }}</p>
				<p>{{ task.adddate }}</p>
				<p>{{ task.duedate }}</p>
				<p>{{ task.priority }}</p>
				<p>{{ task.label }}</p>
		    <a href="#" class="btn btn-primary">Go somewhere</a>
		  </div>

 </div>
</div>





{% endfor %}
</div>
</div>
{% endblock content %}